header {
  &.ui.page.grid {
    margin: 0em;

    .logo {
      padding: 1em 0em;
    }
  }
}

nav {
  padding-left: 15%;
  padding-right: 15%;  
  box-shadow: none;
  border-radius: 0px;
  border: 0px;
    
  .item {
    width: 10%;
    display: inline-block;
    text-align: center;
    padding: 0.75em 0em;
    color: #dcdcdc;
    border-top-width: 10px;
    border-top-style: solid;

    &.large {
      width: 15%;
    }

    &.active {
      color: #ffffff;
    }

    @mixin bordered-background($color) {
      border-top-color: $color;
      &.active {
        background-color: $color;
      }
    }

    &.home {
      @include bordered-background(#ff008a);
    }

    &.about,
    &.health {
      @include bordered-background(#77ce24);      
    }

    &.projects,
    &.contact {
      @include bordered-background(#ff9900);      
    }

    &.resources {
      @include bordered-background(#0099ff);
    }
    &.news {
      @include bordered-background(#660099);
    }
  }    
}

.hero {
  background: url('../images/hero.png') no-repeat;
  height: 570px;
  width: 100%;
  padding: 0px 15%;
}

footer {
  .strip {
    background: url('../images/strip.png') repeat-x;
    height: 21px;
    width: 100%;    
  }

  .info {
    background-color: #660099;
    padding: 2em 0em;
    width: 100%;
  }
}