header {
  &.ui.page.grid {
    margin: 0em;

    .logo {
      padding: 1em 0em;
    }

    .social.icons {
      float: right;
      margin-top: 1em;
    }
  }
}

body {
  .ui.page.grid {
    margin: 0em;
  }   

  h1,h2,h3,h4,h5 {
    font-weight: 100;
  }

  body, h1, h2, h3, h4, h5, h6, p, a, span, input, address,
  .ui.accordion .title:not(.ui) {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
  }

  address {
    font-size: 0.9em;
  }

  .ui.page.grid {
    padding-left: 10%;
    padding-right: 10%;
  }

  .ui.form input:not([type]), .ui.form input[type=text], .ui.form input[type=email], .ui.form input[type=search], .ui.form input[type=password], .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=tel], .ui.form input[type=time], .ui.form input[type=url], .ui.form input[type=number], .ui.form textarea {
    border-radius: 0px;
    font-family: 'Open Sans', sans-serif;
  }

  .input[type=submit],
  .ui.button {
    background-color: #660099;
    color: #ffffff;
    border-radius: 0px;
  }
}


nav {
  padding-left: 10%;
  padding-right: 10%;  
  box-shadow: none;
  border-radius: 0px;
  border: 0px;
  // display: flex;
    
  .item {
    width: 11%;
    display: inline-block;
    text-align: center;
    padding: 0.75em 0em;
    color: #dcdcdc;
    border-top-width: 10px;
    border-top-style: solid;
    border-left: 1px solid #eeeeee;

    &.large {
      width: 15%;
    }

    &:last-child {
      border-right: 1px solid #eeeeee;
    }

    &.active {
      color: #ffffff;
      border-right: none;
    }

    @mixin bordered-background($color) {
      border-top-color: $color;
      &.active,
      &:hover {
        background-color: $color;
        color: #ffffff;
      }
    }

    &.home {
      @include bordered-background(#ff008a);
    }

    &.about,
    &.health {
      @include bordered-background(#77ce24);      
    }

    &.projects,
    &.contact {
      @include bordered-background(#ff9900);      
    }

    &.resources {
      @include bordered-background(#0099ff);
    }
    &.news {
      @include bordered-background(#660099);
    }
  }  

  .ui.dropdown {
    text-align: center;

    .menu {
      border-radius: 0em;
    }
  }  
}

.contacts,
.about,
.projects,
.resources {
  nav {
    .item {
      border-bottom: 1px solid #eeeeee;      

      &.active {
        border-left: none;
      }
    }
  }

  .main {
    padding-top: 2em;

    h2 {
      color: #006699;
      border-bottom: 1px solid #eeeeee;
    }

    .map {
      display: block;
      margin-top: 2em;
      font-size: 1.25em;
      font-weight: 100;
      color: #006699;
    }
  }
}

.resources {
  .main {
    h2 {
      border-bottom: none;
    }

    .search.panel {
      border: 1px solid #cccccc;
      border-radius: 5px;
      padding: 2em;

      h2 {
        text-align: right;
      }
    }

    .results {
      h3 {
        // color: #006699;
        font-weight: 400;
        border-bottom: 1px solid #eeeeee;
        small {
          font-style: italic;
        }
      }

      ol {
        padding-left: 1.2em;
        padding-top: 1.2em;
      }

      .result {
        margin-bottom: 1em;
      }
    }
  }
}

.projects {
  .project {
    margin-top: 2rem;

    &:first-child {
      margin-top: 0rem;
    }

    h3, em {
      font-weight: 400;
    }

    table {
      margin-top: 1rem !important;
    }

  }
}

.about {
  .more {
    h3 {
      color: #0066cc;
      .em {
        color: #ff0099;
      }
    }

    .download.links {
      a {
        display: block;
        color: #ffffff;
        padding: 0.75em 1em;

        &.primary {
          background-color: #ff0099;
        }

        &.secondary {
          background-color: #66cc33;
        }

        &.tertiary {
          background-color: #0099ff;
        }
      }
    }
  }
}

.ui.styled.accordion {
  border-radius: 0px;

  .title {
    text-transform: uppercase;

    i.dropdown.icon {
      float: right;
    }

    &.active {
      border-bottom: 1px solid rgba(34,36,38,.15);
      background-color: #cccccc;
      color: rgba(0,0,0,.4);
    }
  }
}

img.circular {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  display: block;
  margin: auto;
  border: 3px solid #006699;
}

.hero {
  height: 500px;
  width: 100%;
  overflow: hidden;
  padding-left: 0px !important;
  padding-right: 0px !important;  
}

.main {
  .welcome {
    padding-left: 0em !important;
    h2 { 
      font-weight: 100;
      color: #0066cc;
      em {
        font-style: normal;
        color: #ff0099;
      }    
    }
    .more {
      color: #666666;
    }
  }

  .events {
    color: #666666;
    h3 {
      border-bottom: 2px solid #0066cc;
    }

    .event {
      border-bottom: 1px solid #666666;

      &.ui.grid {
        margin: 0em;
      }

      .details {
        h4, h5 {
          margin-bottom: 0em;
          margin-top: 0em;
        }

        h5 {
          color: #0066cc;
        }

        .location {
          font-style: italic;
        }
      }
    }
  }
}

.sponsors {
  h2 {
    text-align: center;
    color: #0066cc;
  }

  img {
    display: block;
    margin: auto;
  }
}

.secondary {
  @mixin bordered-link-box($color) {
    border-top: 2px solid $color;
    border-left: 2px solid $color;
    border-bottom: 2px solid $color;
    .description {
      background-color: $color;
      .more {
        color: $color;
      }
    }
  }  

  .link_box {
    margin-right: 1em;
    margin-bottom: 2em;
    .icon {
      padding: 1.5em;
      img {
        display: block;
        margin: auto;
      }
    }

    .description {      
      padding: 1em;
      color: #ffffff;

      .more {
        color: #ff6633;
        background-color: #ffffff;
        padding: 0.5em;
      }
    }

    &.resources {
      @include bordered-link-box(#ff6633);
    }

    &.patient_info {
      @include bordered-link-box(#66ccff);
    }
    &.projects {
      @include bordered-link-box(#ffcc00);
    }
    &.membership {
      @include bordered-link-box(#cc66cc);
    }


  }
}

footer {
  margin-top: 3em;
  .strip {
    background: url('../images/strip.png') repeat-x;
    height: 21px;
    width: 100%;    
  }

  .info {
    background-color: #660099;
    padding: 2em 0em;
    width: 100%;
    color: #ffffff;

    h3 {
      font-weight: 100;
    }

    .quick_links {
      a {
        display: block;
        color: #ffffff;
      }
    }
  }

  .social.icons {
    a { color: #ffffff; }
    .circular {
      border: none;
    }
  }

  .copyright {
    p {
      margin: 0.5em 0px;
    }
  }
}